@use '../../assets/styleVars';

section {
    width: 95%;
    margin: 0 auto;
    .content {
        width: 90%;
        margin: 0 auto;
        h2 {
            @include styleVars.gradientText;
            text-align: center;
            font-size: 2rem;
            margin: 1rem auto;
        }

        p {
            color: styleVars.$lite;
            font-weight: 300;
            font-size: .8rem;
            text-align: center;
        }

    }


    .form-input {
        width: 95%;
        margin: 0 auto;
        position: relative;

        input {
            width: 100%;
            border: 4px solid rgb(44, 52, 59);
            border-radius: 32px;
            background-color: styleVars.$gray;
            color: styleVars.$lite;
            height: 2rem;

            &::placeholder {
                padding-left: .5rem;
                color: styleVars.$lite;
            }
        }


        button {
            position: absolute;
            top: 50%;
            right: -5px;
            transform: translateY(-50%);
            border: none;
            background-color: styleVars.$primary-blue;
            // border-radius: 50%;

            span {
                display: none;
            }

            svg {
                height: 22px;
                width: 22px;
            }
        }
    }
}

@media (min-width: 550px) {
    section{
        width: 85%;

        .content {
            h2 {

            }

            p {

            }
        }
    }

}

@media (min-width: 768px) {
    section{
        width: 70%;

        .content {
            margin: 0 auto;
            h2 {
                font-size: 2.2rem;
            }

            p {
                font-size: 1rem;
                margin: 0 auto;
                width: 70%;
                text-align: center;
            }
        }
    }
}

@media (min-width: 1024px) {
    section{
        width: 50%;

        .content {
            h2 {

            }

            p {
                
            }
        }
    }
}