@use '../../assets/styleVars';
button {
    border: 2px solid rgb(44, 52, 59);
    border-radius: 32px;
    background-color: styleVars.$gray;
    color: styleVars.$lite;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    gap: .4rem;
}