@use './assets/styleVars';


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 100% styleVars.$font-stack;
    background-color: styleVars.$black;
    position: relative;
}

.app {
    img {
        display: none;
    }
}

@keyframes rotateBackground {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}